@page "/ListarCategoria"
<h3>Listagem de Categorias</h3>

@code {

}

<table class="table table-striped">
    <tr>
        <th>Código</th>
        <td></td>
        <th>Descrição</th>
    </tr>
    <tr>
        <td>1</td>
        <td></td>
        <td>Terror</td>
    </tr>
    <tr>
        <td>2</td>
        <td></td>
        <td>Suspense</td>
    </tr>
    <tr>
        <td>3</td>
        <td></td>
        <td>Drama</td>
    </tr>
    <tr>
        <td>4</td>
        <td></td>
        <td>Ação</td>
    </tr>
    <tr>
        <td>5</td>
        <td></td>
        <td>Comédia</td>
    </tr>

</table>